@model List<BouquetEngine.Model.Bouquet>

<div class="text-center">
    <div>
        <h2>Our Best Bouquets</h2>
    </div>
    <div>

    </div>
    <div class="row image-grid">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" target="_blank">
                            <img alt="" class="img-responsive center-block" src="@Model[i].PictureUrl" width="250"
                                height="250">
                        </a>
                    </div>
                    <div class="panel-footer">
                        <i class="fa fa-camera-retro" aria-hidden="true"></i>
                        <div>
                            Name: @Model[i].Name
                        </div>
                        <div>
                            Description: @Model[i].Description
                        </div>
                        <div>
                            Price: $@Model[i].Price
                        </div>
                        <div>
                            <form asp-controller="Cart" asp-action="AddToCart">
                                <div class="form-group">
                                    <input type="hidden" name="bouquetId" value="@Model[i].Id.ToString()" />
                                </div>
                                <button type="submit" class="btn btn-success">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>