@model BouquetMvc.Models.OrderViewModel
<div class="text-center">
    <div class="container">
        <div class="p-3 mb-2 bg-success text-white"> Your oder has been placed. Please show your order
            number listed below to the cashier when you visit our store.
        </div>
        <div style="margin-top: 20px;">
            <p>@Model.orderNumber</p>
        </div>

    </div>